pip~=25.2
attrs~=25.3.0
distro~=1.9.0
protobuf~=6.31.1
pillow~=11.3.0
adapters~=1.2.0
tornado~=6.5.1
Jinja2~=3.1.6
pyee~=13.0.0
typing_extensions~=4.14.1
greenlet~=3.2.3
psutil~=7.0.0
playwright~=1.53.0
setuptools~=79.0.1
packaging~=24.2
pyparsing~=3.2.3
matplotlib~=3.10.3
beautifulsoup4~=4.13.4
pandas~=2.3.1
spacy~=3.8.7
torch~=2.8.0
transformers~=4.55.0
statsmodels~=0.14.5
radon~=6.0.1
contractions~=0.1.73
python-dotenv~=1.1.1
langchain-openai~=0.3.27
langchain~=0.3.26
pydantic~=2.11.7
numpy~=2.2.6
pingouin~=0.5.5
scipy~=1.16.0
scikit-learn~=1.7.1
datasets~=4.0.0
seaborn~=0.13.2
lime~=0.2.0.1
ipython~=9.4.0
tqdm~=4.67.1
openai~=1.101.0
anthropic~=0.64.0
wtpsplit~=2.1.6